/* Website CSS */

.menuativo{
    font-size:12px;
}

#tituloprincipal{
    background: url('../img/fundo.jpg') center center;
    border-radius:0px;
    box-shadow: 5px 5px 5px grey;
}
.red{
  color:red;

}
body
{
    background-color: #938d8d;
}